* {
  background-color: #f1f1f1;
}

nav {
  text-align: right;
  margin: 10px;
  padding: 25px;
  font-family: arial;
  color: blue;
}
nav li {
  display: inline;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline;
  padding: 8px;
}

h1 {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  color: #a96c42;
}

h3 {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  color: #7d6251;
}


p {
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #7d6251;
}

li {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row {
  width: 33.3%;
  margin: auto;
}

.column {
  float: left;
  width: 100%;
  border: 2px solid #7d6251;
}

.column li {
  text-align: center;
}

div li {
  display: block;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#title {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #a96c42;
}
#hours {
  color: #7d6251;
  font-family: Arial, Helvetica, sans-serif;
}

#logo {
  margin-top: -25px;
  float: left;
}

